# Configuración del servidor
PORT=3000
NODE_ENV=development

# Autenticación
LOGIN_USERNAME=admin
LOGIN_PASSWORD=tu_contraseña_segura_aqui
SESSION_SECRET=tu_clave_secreta_para_sesiones_cambiar_en_produccion

# Configuración de Google Sheets
GOOGLE_SHEET_ID=tu_sheet_id_aqui
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTu_private_key_aqui\n-----END PRIVATE KEY-----\n"
GOOGLE_CLIENT_EMAIL=tu_client_email_aqui

# Nombre de las hojas en Google Sheets
SHEET_NAME_PRODUCTOS=Productos
SHEET_NAME_VENTAS=Ventas
SHEET_NAME_CAMBIOS=Cambios
